.page {
    text-align: center;
    background-image: url("../images/background.png");
    background-size: "cover";
    align-items: center;
    font-family: 'Arial';
  }
.login {
  padding: 20px 160px;
  cursor: pointer; 
  font-size: 26px;
  border-radius: 10px;
  border: 1px solid black;
  align-items: center;
  color: #fff;
  background: #635dff;
}
.logout {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer; 
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid black;
  color: #fff;
  background: #635dff;
  width: 8rem;
  height: 3rem;
}
.submit {
  font-size: 1.2rem;
  color: #fff;
  background: #635dff;
  cursor: pointer;
  padding: 0 0.5rem;
  width: 24rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border-width: thin;
  box-sizing: border-box;
}
form {
  margin: 5rem auto 0;
  width: 24rem;
}
form input, form select {
  padding: 0 0.5rem;
  width: inherit;
  height: 3rem;
  font-size: 1rem;
  border-radius: 10px;
  border-width: thin;
  box-sizing: border-box;
}
.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 30px;
}
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50px;
  transition: border-color 0.2s ease-in-out;
  border: 1.5px solid transparent;
}
.image-wrapper:hover {
  border-color: #333;
}
.image-wrapper.selected {
  border-color: #00D100;
  border-width: 3px;
}
img {
  width: 250px;
  height: 250px;
  border-radius: 50px;
  cursor: pointer;
}  
.checkmark {
  width: 100px;
  height: 100px;
}
.recommendation-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 100px;
}
.back {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer; 
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid black;
  color: #fff;
  background: #635dff;
  width: 8rem;
  height: 3rem;
}
.container {
  display: flex;
  text-align: center;
  background-image: url("../images/background.png");
  background-size: "cover";
  align-items: center;
  height: 100vh;
  font-family: 'Arial';
  flex-wrap: wrap;
}
.text {
  width: 50%;
  height: 150px;
  box-sizing: border-box;
}
.image {
  width: 50%;
  height: 300px;
  box-sizing: border-box;
}
.image img {
  max-width: 100%;
  height: auto;
  height: 500px;
  width: 700px;
}
.profile-grid {
  height: 150px;
  box-sizing: border-box;
  text-align: left;
  padding-left: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.profile-image-grid{
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
}

.profiles {
  text-align:center;
}

.profiles img:hover {
  border: 1px solid #333;
}
.profile-name {
  font-size: 25px;
  color: black;
  text-align: center;
}
.profiles img {
  height: 150px;
  width: 150px;
  border-radius: 50px;
}
.delete {
  float: right;
  justify-content: right;
}

.delete:hover {
  opacity: 0.4;
  font-size: 1em;
}
.delete:before, .close:after {
  content: ' ';
  background-color: #333;
}
.delete:before {
  transform: rotate(45deg);
}
.delete:after {
  transform: rotate(-45deg);
}