.App {
  text-align: center;
  background-image: url("./images/background.png");
  background-size: "cover";
  height: 108vh;
  margin-top: -70px;
  font-size: 50px;
}
form {
  margin: 5rem auto 0;
  width: 24rem;
}
form input, form select {
  padding: 0 0.5rem;
  width: inherit;
  height: 3rem;
  font-size: 1rem;
  border-radius: 4px;
  border-width: thin;
  box-sizing: border-box;
}
form input[type="submit"] {
  height: 3rem;
  font-size: 1.2rem;
  color: #fff;
  background: #635dff;
  cursor: pointer;
}

@media all and (min-width:0px) and (max-width: 400px) {
  .App {
    font-size: 2em;
  }

  .image img {
    height: 224px;
    width: 224px;
  }

  /* put your css styles in here */
}
